In [1]:
import pandas as pd

In [11]:
df = pd.read_excel("data/2020/10/hcpc/anweb.xlsx", usecols="A,D:AV", parse_dates=True,
    na_values=["NA", "0"], header=10,
).dropna(how='all')

In [20]:
df.loc[:, 'ADD DT'] = df['ADD DT'].astype(str).apply(lambda s: s.replace('.0',''))

In [24]:
def convert_dates_to_text(float_input: float):
    text = float_input.astype(str).apply(lambda s: s.replace('.0',''))
    return text.apply(lambda t: t[:4] + '-' + t[4:6] + '-' + t[6:8])

In [31]:
df[['ADD DT', 'ACT EFF DT', 'TERM DT']] = df[['ADD DT', 'ACT EFF DT', 'TERM DT']].apply(lambda s: convert_dates_to_text(s))

In [32]:
df['TERM DT'].value_counts()

nan--         6568
2014-12-31     158
2016-12-31     143
2015-12-31     110
2019-12-31      79
2018-12-31      45
2017-12-31      39
2019-09-30      16
2020-06-30       9
2015-06-30       4
2018-03-31       4
2019-06-30       4
2020-09-30       4
2016-09-30       3
2016-06-30       3
2012-03-31       2
2018-06-30       1
2016-02-29       1
2014-06-30       1
2015-03-31       1
2020-03-31       1
2017-06-30       1
Name: TERM DT, dtype: int64